.new-form {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-auto-rows: 120px;
    gap: 30px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.input {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
}

textarea {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    resize: none;
}

.form-submit {
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 102, 255);
    color: #fff;
}

.error {
    color: red;
}