.sidebar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.sidebar-items {
    text-align: center;
    padding: 10px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    background-color: #a9d7f6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}