.form-layout {
    border:  1px solid red;
    width: 80%;
    padding: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    border: 1px dashed gray;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.col {
    border: 1px dashed blue;
    padding: 10px;
}

.add-row {
    margin-bottom: 10px;
}
